<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Receitas</title>
</head>
<body>
    <h1>Alura Receitas</h1>

    <h2>Boas vindas ao site</h2>

    <table>
        <thead>
            <tr>
                <td>Nome da receita</td>
                <td>Ingredientes</td>
                <td>Modo de preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suco verde</td>
                <td>Folhas verdes, 1 maça, 1 cenoura</td>
                <td>Bata tudo no liquidificador</td>
            </td>
        </tbody>
    </table>
    
</body>
</html>